.auth-loading-page{
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authorizing {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}
