.balls {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#black div {
  background-color: #000;
}

#spotify div {
  background-color: var(--spotify-green);
}

#strava div {
  /* background-color: #FC4C02; */
  background-color: var(--strava-orange));
}

.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #FC4C02;
  transform: translateY(-75%);
  animation: wave 0.6s ease-in-out alternate infinite;
}

.balls div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.balls div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes wave {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(75%);
  }
}
