.page-title {
  text-align: center;
}

.about-page {
  max-width: 700px;
  margin: 0 auto 6em auto;
  padding: 0 30px;
}

.question {
  font-family: 'Open Sans'
}

.answer {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.about-page a {
  color: black;
}

.question-box {
  margin-top: 3em;
}
