.page-title {
  font-weight: 500;
  text-align: center;
  font-size: 1.8em;
}

.about-page {
  max-width: 700px;
  margin: 0 auto 6em auto;
  padding: 0 30px;
}

.question {
  font-family: 'Avenir', 'Helvetica', 'Open Sans';
  font-size: 1.4em;
}

.answer {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.about-page a {
  color: black;
}

.question-box {
  margin-top: 3em;
}
