.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.test-sidebar {
  height: 100%;
  min-width: 66vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -66vw;
  z-index: 100;
  background-color: white;
  transition: .3s ease-out;
}

.test-sidebar.open {
  left: 0;
}

.test-sidebar.open ~ .child-content {
  /* opacity: 0.5; */
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity .3s ease-out, z-index .3s step-end;
  -webkit-transition: opacity .3s ease-out, z-index .3s step-end;
  background-color: rgba(0,0,0,.3);
}

.overlay.open {
  opacity: 1;
  z-index: 3;
  transition: opacity .3s ease-out, z-index .3s step-start;
  -webkit-transition: opacity .3s ease-out, z-index .3s step-start;
}

.child-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Setting z-indexes to allow for sticky header */
.sidebar {
  background: white;
  min-width: 66vw;
  z-index: 3 !important;
}

.sidebar + div {
  z-index: 2 !important;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0;
}

.sidebar-nav a {
  display:block;
  margin:10px 20px;
  line-height:1.3em;
  color:#000;
  text-decoration: none;
  font-size: 1.5em;
}

.sidebar-nav a:hover {
  text-shadow: 0 0 0 #000, 0 0 0 #000;
}

.user-firstname {
  margin-left: 25px;
  margin-right: 25px;
  color: var(--cerulean);
  font-weight: normal;
  font-size: 1.5em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .child-content {
    padding-top: 4rem;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sidebar {
    min-width: 33vw;
  }

  .child-content {
    padding-top: 4rem;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  .sidebar {
    min-width: 15em;
  }

  .child-content {
    padding-top: 4.5rem;
  }

  .test-sidebar.open {
    right: 0;
  }

  .test-sidebar {
    min-width: 250px;
    right: -33vw;
    left: auto !important;
  }
}