
/* Setting z-indexes to allow for sticky header */
.sidebar {
  background: white;
  min-width: 66vw;
  z-index: 3 !important;
}

.sidebar + div {
  z-index: 2 !important;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0;
}

.sidebar-nav a {
  display:block;
  margin:10px 20px;
  line-height:1.3em;
  color:#000;
  text-decoration: none;
  font-size: 1.5em;
}

.user-firstname {
  margin-left: 25px;
  margin-right: 25px;
  color: var(--cerulean);
  font-weight: normal;
  font-size: 1.5em;
}

/* Mobile and Tablet Styles */
@media only screen and (max-width: 960px) {
  .child-content {
    margin-top: 6em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sidebar {
    min-width: 33vw;
  }
}
