.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.page-site-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: 0.7rem;
  padding-left: 0.7rem;
  font-size: 2rem;
  margin: 1rem 2rem;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .page-header {
    height: 4rem;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page-header {
    height: 4rem;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  .page-header {
    flex-direction: row-reverse;
    padding-right: 1em;
    height: 4.5rem;
  }

  .page-site-title {
    font-size: 2.5rem;
    margin: 1rem 2rem;
  }
}
