

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Mobile and Tablet Styles */
@media only screen and (max-width: 960px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop styles */
@media only screen and (min-width: 961px) {

}
