.top-bar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .title {
  margin-left: 1em;
  margin-right: 1em;
}

.username {
  margin: 0 4rem;
  font-weight: normal;
  font-size: 1.5em;
  cursor: pointer;
}

.underline {
  position: relative;
  margin: 0;
}

.underline::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--strava-orange);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline.hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.nav {
  margin-right: 50px;
  display: none;
}

.nav ul li {
  cursor: pointer;
}

.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    /* background:#333; */
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    margin:10px 20px;
    line-height:.8em;
    color:#000;
    text-decoration: none;
    /* border-left:1px solid #595959; */
}
.nav a:hover {
    text-decoration:none;
    /* background:#595959; */
}
.nav ul li {
    /* background:#273754; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav li ul li {
    /* width:200px; */
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    font-weight: bold;
}

.nav li ul {
    position:absolute;
    /* left:0; */
    top:20px;
    padding-top: 1em;
    z-index:1;
}

.nav li ul li {
    overflow:hidden;
    max-height:0;
    -webkit-transition:max-height 1000ms ease;
    -moz-transition:max-height 1000ms ease;
    -o-transition:max-height 1000ms ease;
    transition:max-height 1000ms ease;
}
.nav ul > li:hover ul li {
    max-height:40px;
}

.hamburger {
  outline: none;
  padding: 20px 15px 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/* Squeeze */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Spin Reverse */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Spin */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.icons {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sun-face {
  margin-right: 20px;
  width: 6em;
}

#plus-sign {
  font-size: 3em;
}

#spotify-logo {
  margin-left: 20px;
  padding: 0 .5em;
  width: 5em;

}

.message {
  text-align: center;
}

.settings-link {
  color: #000;
  text-decoration: underline;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .dashboard .sidebar-top-nav .title {
    font-size: 2.3rem;
  }

  #mySidebar {
    min-width: 66%;
  }
}

/* Mobile and Tablet Styles */
@media only screen and (max-width: 960px) {

  .filler {
    width: 70px;
    height: 1px;
  }

  .sidebar-top-nav {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }

  .dashboard .sidebar-top-nav .title {
    margin: .35rem 0;
    display: unset;
  }

  .desktop-stuff {
    display: none;
  }

  .sidebar-top {
    padding-top: 10px;
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .username {
    margin-left: 25px;
    margin-right: 25px;
    color: var(--strava-orange);
  }

  .sidebar-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .sidebar-nav a {
    display:block;
    margin:10px 20px;
    line-height:1.3em;
    color:#000;
    text-decoration: none;
    font-size: 1.5em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .dashboard .sidebar-top-nav .title {
    font-size: 3rem;
  }

  #mySidebar {
    min-width: 33%;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  #mySidebar {
    display: none;
  }

  .top-bar-mobile {
    display: none;
  }

  div[role=navigation] {
    display: none;
  }

  .nav {
    display: unset;
  }
}
