
.setup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
  color: black;
  max-width: 700px;
  margin: 0 auto;
}

.loading-box {
  height: 80vh;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  padding-left: 0.7rem;
  font-family: 'Montserrat', sans-serif;
}

.welcome-message {
  font-size: 1.5rem;
  color: var(--cerulean);
}

.prompt {
  font-size: 1.2rem;
}

.more-info {
  font-size: .8rem;
  text-decoration: underline;
  cursor: pointer;
}

.prompt-box {
  text-align: center;
  padding: 0 20px;
}

.tooltip {
  max-width: 300px;
}

.box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.tiempo-options {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#spotify-link {
  text-decoration: none;
}

.submit-button {
  /* background-color: #fc4c02; */
  /* background-color: var(--strava-orange); */
  background-color: #05B8CC;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin: 20px 0;
}

.submit-button:hover {
  filter: brightness(85%);
}

#darksky {
  height: 3rem;
}

#spotify {
  height: 2rem;
  padding-left: 0.5rem;
}

.spotify-block {
  display: flex;
  align-items: center;

}

.branding {
  margin-top: 10px;
}

.provider {
  color: black;
  font-weight: 500;
  padding-left: 10px;
}

/* .hesitant {
  font-style: italic;
} */

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .prompt {
    text-align: left;
  }

  .tooltip {
    max-width: 200px;
  }

  .option-field {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .branding {
    display: flex;
    align-items: center;
  }

  .provider {
    margin-left: 20px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  #darksky {
    padding-left: 10px;
  }

  .prompt {
    font-size: 1.4rem;
  }

  .title {
    font-size: 4rem;
  }

  .box {
    display: flex;
    justify-content: center;
  }

  .branding {
    display: flex;
    align-items: center;
  }

  .provider {
    margin-left: 20px;
  }
}
