
.format-container {
  background-color: rgb(245, 248, 250);
  padding: 5px;
  border-bottom: 2px solid grey;
}

.weather-format {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  resize: none;
  /* border-radius: 5px; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid grey;
  padding: 5px;
  /* max-width: 90%; */
  width: 100%;
  background-color: rgb(245, 248, 250);
  overflow-x: scroll;
  white-space: pre;
}

.weather-format:focus {
  border-bottom: 2px solid #009BFF;
}

.preview-box {
  margin-bottom: 20px;
}

.preview {
  white-space: pre-wrap;
  margin: 0;
  /* width: 100%; */
  /* max-width: 375px; */
  padding: 5px 10px;
  background-color: rgb(245, 248, 250);
}