.setting-description {
  font-weight: 600;
  margin: 20px 0;
}

h2 {
  font-weight: 600;
}

.title-box {
  max-width: 700px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}

.settings-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 236, 240);
}

.settings {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.settings-block {
  background-color: white;
  margin-bottom: 10px;
  padding: 5px 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.settings-page-title {
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  color: var(--cerulean);
}
