.setting-description {
  font-weight: normal;
  text-align: center;
}

.submit-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.submit-button:disabled:hover {
  filter: none;
}

.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-family: 'Open Sans', sans-serif;
  /* color: var(--strava-orange); */
  color: #05B8CC;
}
